<body>

<main id="main">

  <div id="tableTitle"><h2> News List</h2></div>

  <table class="table table-striped">
    <thead>
    <tr>
<!--      <th> id</th>-->
      <th class="columnTitle">IMAGE</th>
      <th class="columnTitle">TITLE</th>
      <th class="columnTitle">DESCRIPTION</th>
      <th class="columnTitle">URL</th>
      <th class="columnTitle">AUTHOR</th>
      <th class="columnTitle">PUBLISHED</th>
      <th id="columnTitleAction" class="columnTitle">ACTION</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let news of newsList">
<!--      <td> {{ news.id}} </td>-->
      <td class="fitwidth"> <img src="{{ news.image }}" alt="{{ news.image }}" onerror="this.src='https://lh3.googleusercontent.com/proxy/rPWM2oh6Ab3MBmHU2VIa8FKSEMdJzjdjyCGsiIJZHSCwTrVjni5MapbQlxK-TI-7oaBYt2bVXI7htgauqQbPj9YTPqd1GZkU0FINGFPIU7SGiHRpUtHusDEacfOjfmfKHg'"> </td>
      <td id= "contentColumnTitle" class="fitwidth"> {{ news.title }} </td>
      <td class="fitwidth"> {{ news.description }} </td>
      <td class="fitwidth"><a href="{{ news.url }}">{{ news.url }}</a></td>
      <td class="fitwidth"> {{ news.author }} </td>
      <td class="fitwidth"> {{ news.published }} </td>
      <td id= "columnButton" class="fitwidth">
        <a routerLink="/edit-news/{{news.id}}">
          <button class="buttonEdit">Edit</button>
        </a>
      </td>
    </tr>
    </tbody>
  </table>

</main>
</body>
